################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/.vs
**/bin
**/obj
src/Client/wwwroot/vendor
src/Server/debug.log


# Rider folder exclude
.idea