@inherits ManagementBase
@page "/management"

<div class="container">
    <div class="row">
        <div class="col">
            <OrganizationUnitDropdown CurrentUnit="@CurrentUnit" SelectObserver="@this"></OrganizationUnitDropdown>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ProjectsList SelectedUnit="@SelectedUnit" ProjectSelectObserver="@this"></ProjectsList>
        </div>
    </div>
</div>
@code {
    
}