@inherits ManagementBase
@page "/management"

<div class="col-5">
    <div class="d-flex w-100 justify-content-between mb-2">
        <OrganizationUnitDropdown Unit="@UserUnit" SelectObserver="@this"></OrganizationUnitDropdown>
        <ProjectsList SelectObserver="@this"></ProjectsList>
    </div>
</div>
@code {
    
}