/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829; }

a {
  color: #0563bb; }

a:hover {
  color: #067ded;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto; }
  @media (max-width: 992px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px; } }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap; }

.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s; }
  @media (min-width: 992px) {
    .nav-menu a {
      width: 56px; } }
  .nav-menu a i {
    font-size: 20px; }
  .nav-menu a span {
    padding: 0 5px 0 7px;
    color: #45505b; }
    @media (min-width: 992px) {
      .nav-menu a span {
        display: none;
        color: #fff; } }

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  background: #28509B; }
  .nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
    color: #fff; }

.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff; }
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block; }

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right; }
  .mobile-nav-toggle i {
    color: #45505b; }

.mobile-nav-active {
  overflow: hidden; }
  .mobile-nav-active #header {
    left: 0; }
  .mobile-nav-active .mobile-nav-toggle i {
    color: #0563bb; }

/*--------------------------------------------------------------
# List group
--------------------------------------------------------------*/
.list-group-item.active {
  background: #28509B; }
