@inherits OrganizationBase

@page "/organization"
@using Agile4SMB.Client.Services
@using Agile4SMB.Shared
@using Agile4SMB.Shared.Domain


@if (CurrentUnit != null)
{
    <div class="row">
        <div class="col-5">
            <OrganizationUnitTree Unit="@CurrentUnit" SelectObserver="@this"/>
        </div>

        <div class="col-7">
            <div class="sticky-top">
                <OrganizationUnitProperties Unit="@SelectedUnit" SelectObserver="@this"/>
            </div>
        </div>

    </div>
}

@code{

}